version: '3.8'

services:
  pdf-converter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pdf-tools
    ports:
      - "5001:5001"
    volumes:
      - ./uploads:/app/uploads
      - ./outputs:/app/outputs
    environment:
      - FLASK_ENV=production
    restart: unless-stopped
